<template>
  <div v-if="$catalog.length > 0" style="margin-top: 20px"><el-button size="small"
    v-for="t in $catalog[cata[0]].next[cata[1]].tags" :key="t" 
    @click="getResourceByTag(t)" plain>{{t}}</el-button></div>
</template>

<script>
export default {
  name: "Keywords",
  props: {
    cata: Array
  },
  methods: {
    getResourceByTag: function(t) {
      window.open("/resource/" + "?if=" + t);
    }
  }
};
</script>

