<template>
<div v-loading="cntGet > 0">
  <el-row :gutter="20" type="flex" justify="space-between" style="margin-top: 20px; margin-bottom: 16px">
      <el-col :span="6">
        <el-input v-model="inputFilter" :size="widgetSize" clearable placeholder="输入一个关键词">
      </el-input></el-col>
      <el-col :span="6">
        <el-cascader :size="widgetSize" placeholder="目录" clearable 
        :options="catalog" change-on-select :props="cascaderProps" @change="handleChange">
        </el-cascader>
      </el-col>
      <el-col :span="6">
        <el-select :size="widgetSize" v-model="providerFilter" clearable placeholder="提供方">
          <el-option v-for="p in providers" :key="p" :label="p" :value="p"></el-option>
        </el-select>
      </el-col>
      <el-col :span="6">
        <el-select :size="widgetSize" v-model="typeFilter" clearable placeholder="资源类型"">
          <el-option v-for="t in types" :key="t" :label="t" :value="t"></el-option>
        </el-select>
      </el-col>
  </el-row>
  
  <div v-if="tags.length > 0" style="margin-bottom: 8px">
    <el-radio-group v-model="tagFilter" :size="widgetSize">
      <el-radio style="margin-bottom: 8px" border :size="widgetSize" @click="selectAllTag" label="all">全部</el-radio>
      <el-radio style="margin-bottom: 8px" v-for="tag in tags" :key="tag+Math.random()" :label="tag" border>{{tag}}</el-radio>
    </el-radio-group>
  </div>

  <div v-for="row in filteredRes" :key="row[0]+row[1]+Math.random()" @click="outTo(row[5])" style="margin-bottom: 8px">
    <el-card v-if="providerFilter || inputFilter || fCatalogFilter || sCatalogFilter || tagFilter !== 'all' || typeFilter.length > 0" 
      shadow="hover" :body-style="{ padding: '6px 12px' }">
      <el-row type="flex" justify="space-between">
          <!-- resource type icon -->
          <el-col :span="1">
             <el-popover
              placement="right"
              width="200"
              trigger="hover">
              <p>类型 {{row[0]}}</p>
              <p v-if="row[3] !== 'need description'" v-for="r in row[3].split('\\n')" :key="r">{{r}}</p>
              <span slot="reference"><i class="mdi mdi-24px" :class="getIconByType(row[0])"></i></span>
            </el-popover>
          </el-col>
          <el-col :span="14">
          <div>
            <!-- title -->
            <strong>{{ row[1] }}</strong>
            <!-- provider -->
            <el-tag :type="getColor(providers, row[2])" size="mini">{{ row[2] }}</el-tag>
          </div>
          </el-col>
          <!-- tags -->
          <el-col :span="9"><div style="text-align: right" v-if="row[4]">
            <span v-for="key in row[4].split('~')" style="margin-right: 6px"
              :key="key+Math.random()" @click.stop="handleKeyClick(key)">
              <el-tag size="mini" type="info" plain>{{key}}</el-tag>
            </span></div>
          </el-col>
      </el-row>
    </el-card>
  </div>
</div>
</template>

<script>
import Papa from "papaparse";

export default {
  name: "ResourceTable",
  data: () => ({
    catalog: [],
    resource: [],
    cntGet: 0,
    inputFilter: "",
    providerFilter: "",
    fCatalogFilter: "",
    sCatalog: [],
    sCatalogFilter: "",
    tagFilter: "all",
    widgetSize: "small",
    tags: [],
    typeFilter: "",
    types: [],
    providers: [],
    curFilterType: "",
    cascaderProps: {
      value: "name",
      label: "name",
      children: "next"
    }
  }),
  beforeMount: function() {
    this.cntGet = 1;
    this.$http
      .get(
        "https://raw.githubusercontent.com/xxxzc/njufds-remote-files/master/csv/resource.csv"
      )
      .then(results => {
        this.resource = Papa.parse(results.data).data;
        this.cntGet -= 1;
      });
    // this.$http
    //   .get(
    //     "https://raw.githubusercontent.com/xxxzc/njufds-remote-files/master/json/catalog.json"
    //   )
    //   .then(results => {
    //     this.catalog = results.data;
    //     this.cntGet -= 1;
    //   });
    this.catalog = this.$catalog;
  },
  created: function() {
    if (this.$route.query.if) {
      this.inputFilter = this.$route.query.if;
    }
  },
  watch: {
    fCatalogFilter: function() {
      this.refreshFcatalog();
      this.curFilterType = "fCatalog";
    },
    sCatalogFilter: function() {
      if (this.sCatalogFilter) {
        for (let c of this.sCatalog) {
          if (c.name === this.sCatalogFilter) {
            this.tags = c.tags;
            return;
          }
        }
      } else this.refreshFcatalog();
      this.curFilterType = "sCatalog";
    },
    providerFilter: function() {
      this.curFilterType = "provider";
    },
    inputFilter: function() {
      this.curFilterType = "input";
    },
    tagFilter: function() {
      this.curFilterType = "tag";
    },
    typeFilter: function() {
      this.curFilterType = "type";
    }
  },
  computed: {
    filteredRes: function() {
      let res = this.resource;

      if (this.inputFilter) {
        res = res.filter(r =>
          this.inputFilterMethod(r, this.inputFilter.toLowerCase())
        );
      }

      if (this.providerFilter) {
        res = res.filter(r => r[2] === this.providerFilter);
      }

      if (this.typeFilter) {
        res = res.filter(r => this.typeFilter === r[0]);
      }

      if (this.fCatalogFilter && this.tags.length > 0) {
        res = res.filter(
          r => r[4] && this.hasIntersection(r[4].split("~"), this.tags)
        );
      }

      if (this.tagFilter && this.tagFilter !== "all") {
        res = res.filter(
          r => r[4] && this.hasIntersection(r[4].split("~"), [this.tagFilter])
        );
      }

      // get providers and types
      let ps = new Set();
      let ts = new Set();
      for (let r of res) {
        if (!r[0] || !r[2]) continue;
        ps.add(r[2]);
        ts.add(r[0]);
      }

      if (
        this.curFilterType === "fCatalog" ||
        this.curFilterType === "sCatalog" ||
        !this.providerFilter
      )
        this.providers = [...ps];
      if (this.curFilterType !== "type" || !this.typeFilter)
        this.types = [...ts];
      return res;
    }
  },
  methods: {
    refreshFcatalog: function() {
      if (this.fCatalogFilter) {
        for (let c of this.catalog) {
          if (c.name === this.fCatalogFilter) {
            this.sCatalog = c.next;
            let tags = [];
            for (let sc of c.next) {
              tags = tags.concat(sc.tags);
            }
            this.tags = tags;
            return;
          }
        }
      } else {
        this.sCatalogFilter = "";
        this.tagFilter = "all";
        this.sCatalog = [];
        this.tags = [];
      }
    },
    getColor: function(total, type) {
      const colorList = ["primary", "success", "danger", "warning"];
      for (let i = 0; i < total.length; i++) {
        if (type === total[i]) return colorList[i % colorList.length];
      }
    },
    getIconByType: function(type) {
      if (type === "homepage") return "mdi-home";
      if (type === "course") return "mdi-school";
      if (type === "website") return "mdi-web";
      if (type === "blog") return "mdi-blogger";
      if (type === "lecture") return "mdi-file-powerpoint-box";
      if (type === "url") return "mdi-link";
      if (type === "note") return "mdi-note";
      if (type === "video") return "mdi-video";
      if (type === "ipynb") return "mdi-language-python";
      if (type === "textbook") return "mdi-book-open";
      return "mdi-square-small";
    },
    inputFilterMethod: function(obj, filter) {
      for (let value of obj) {
        if (value.toLowerCase().indexOf(filter) > -1) {
          return true;
        }
      }
      return false;
    },
    hasIntersection: function(l, r) {
      return l.filter(o => r.includes(o)).length > 0;
    },
    handleChange: function(value) {
      if (this.fCatalogFilter !== value[0]) this.fCatalogFilter = value[0];
      if (value.length > 1) {
        this.sCatalogFilter = value[1];
      } else this.sCatalogFilter = "";
    },
    selectAllTag: function() {
      this.tagFilter = "all";
    },
    outTo: function(url) {
      window.open(url);
    },
    handleKeyClick: function(key) {
      this.providerFilter = "";
      this.fCatalogFilter = "";
      this.typeFilter = "";
      this.inputFilter = key;
    }
  }
};
</script>

<style scoped>
</style>

